<!DOCTYPE html>
<html lang="en">
    @{
        const string APP_TITLE = "Flight On Track";
        const string COMPANY_NAME = "PostNGet";
        const string APP_MODIFIER = "- build a history of your flights";
        const string SITE_TITLE = "FlightOnTrack";
    }
    <head>
        <meta charset="utf-8" />
        <title>@SITE_TITLE</title>
        <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
        @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
        <meta name="viewport" content="width=device-width" />
 
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/jqueryui")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")

        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)

    </head>
    <body>
    <header>
        <div id="header">
            @*<img src="/Images/cherokee_256.jpg" />*@
            <h1>@APP_TITLE&nbsp&nbsp</h1>
            @*<h1><i>&nbsp&nbsp @APP_MODIFIER</i></h1>*@

        </div>

        <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Help", "Help", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
         </div>
    </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
               @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
              <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - @COMPANY_NAME</p>
             </div>
            </div>
        </footer>
    </body>
</html>
