
@{  @*Layout = null;*@
var areaId = ViewBag.AreaId;
var groupId =ViewBag.groupId;
var flights = ViewBag.Flights;
var isArea = ViewBag.IsArea;
var isFlightList = ViewBag.isFlightList;
var methodBack = ViewBag.backUrl;
string urlMethod = "GetAreaFlightsJson";
object urlMethodPar = new { areaId = ViewBag.AreaId };
var mod = ViewBag.model;

if (isFlightList ?? false)
{
    urlMethod = "GetMultipleFlightsDataJson";
    urlMethodPar = new { fs = @ViewBag.Flights };
}
}

<!DOCTYPE html>
<html>
<head>
    <title>Flight Map</title>
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/googlemap.css" rel="stylesheet" type="text/css" />*@
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/Scripts/getDrawActveFlights.js" type="text/javascript"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAIm-QyYK0jc3jyTMA6rgCTnx-9nWILiiQ"></script>

    <script>

        //var routeSelect;
        //var refreshSelect;
        //var messages;
        var map;
        //var intervalID;
        //var newInterval;
        //var currentInterval;
        //var iconUrl;
        var INTERVAL = 5000;
        var REQUEST_COUNT = 60;
        var mapOptions;
        var cookieName = "fontZoomLevel=";
        var markersStore = [];
        var infowindowStore = [];
        var flightPathStore = [];
        var connectionLinesStore = [];
        //var isRefresh = true;
        var cnt =0;
        var defaultCenter;
        var centerOnDefault = false;
        var currentCenter;
        var greenControl;
        var redControl;
        var areaRadius = @ViewBag.ARadius * 1000;
        //var isFlightList = Boolean @ViewBag.isFlightList;
        var defaultZoomLevel =(@ViewBag.ARadius==3?13:@ViewBag.ARadius==5?12:@ViewBag.ARadius==10?11:10);
        var mapCircle;

        //var alertText;
        var greenAlertText = "Update is On";
        var redAlertText = "Update is Off. Refresh the page.";
        var True = true; False = false;

        //---------------------------------------------------------------
        function init() {

            greenControl = document.getElementById('GreenTextDiv');
            redControl = document.getElementById('RedTextDiv');
            greenControl.style.display = 'inline';

            document.getElementById("RadiusSelList").addEventListener("change",function() {
                buttonAutoRefresh();
            });

            // set the map center dd zoom cookie
            var zoomLevel = (getCookie(cookieName) == '' ? defaultZoomLevel : parseInt(getCookie(cookieName)));
            defaultCenter = new google.maps.LatLng(@ViewBag.AreaCenterLat, @ViewBag.AreaCenterLong);
            mapOptions = {
                zoom: zoomLevel,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: defaultCenter
            };
            map = new google.maps.Map(document.getElementById('map_div'), mapOptions);
            mapCircle = new google.maps.Circle({
                strokeColor: '#FF0000',
                strokeOpacity: 0.4,
                strokeWeight: 2,
                fillColor: 'FEFEFE',
                fillOpacity: 0.1,
                map: map,
                center: defaultCenter,
                radius: areaRadius
            });
            getMarkers();
            map.controls[google.maps.ControlPosition.TOP_CENTER].push(greenControl);
        }

        //---------------------------------------------------------------
        function getMarkers() {

            var url = '@Html.Raw(@Url.Action(urlMethod, urlMethodPar))';
            url +="&areaRadius="+@ViewBag.ARadius;
            url +="&c="+cnt;

            $.ajax({
                url:url,
                type: 'GET',
                dataType: 'json',
            })
               .fail (function (xhr, status, errorThrown) {
                   console.log("responseText: " + xhr.responseText);
                   console.log("status: " + xhr.status);
                   console.log("errorThrown: " + errorThrown);
               })
              .always(function( data ) {
                  ///set marker infowindow polyline for multiple flights
                  //console.log(url);
                  //console.log(data.centerRadius);
                  getDrawActveFlights(data.gpslocations, new google.maps.LatLng(data.centerRadius.Lat, data.centerRadius.Long));
                  mapCircle.setCenter({lat: data.centerRadius.Lat, lng: data.centerRadius.Long})
                  bounds=mapCircle.getBounds();
                  //map.fitBounds(bounds);       // auto-zoom
                  map.panToBounds(bounds);     // auto-center
                  if (cnt<REQUEST_COUNT){
                      ///setup next getMarkers call
                      setTimeout(getMarkers,INTERVAL);
                      cnt++;
                  }
                  else{
                      greenControl.style.display = 'none';
                      redControl.style.display = 'inline';
                      map.controls[google.maps.ControlPosition.TOP_CENTER].push(redControl);
                  }
              });
        }
        //---------------------------------------------------------------
        function getCookie(cname) {
            var cookieArray = document.cookie.split(';');
            if (cookieArray[0].indexOf(cname) == 0) return cookieArray[0].split('=')[1];
            return "";
        }
        //---------------------------------------------------------------
        function buttonback() {
            var url = @(!isFlightList)?'@Html.Raw(@Url.Action("SearchByArea", new { areaId = areaId }))':'@Html.Raw(@Url.Action("GetListActiveFlights", new { flightsSer="", groupId = groupId }))';
            window.location.assign(url);
        }
        function buttonAutoRefresh() {
            var ri = document.getElementById("RadiusSelList");
            r = ri.options[ri.selectedIndex].value;
            var url = '@Html.Raw(@Url.Action("DisplayAreaMovingMap", new { aId = areaId, fs = flights, areaCenterLat = @ViewBag.AreaCenterLat, areaCenterLong = @ViewBag.AreaCenterLong }))';
            url= url+="&aRadius="+r;
            window.location.assign(url);
        }
        function buttonCenterOnDefault(element) {
            //if (element.innerText=="Center On Area"){
            //    element.innerText="Center On Plane";
            currentCenter=map.getCenter();
            map.setCenter(defaultCenter);
            map.setZoom(defaultZoomLevel);
        }

    //---------------------------------------------------------------
    $(document).ready(function () {
                        init();
                    });
</script>
</head>
<body style="padding-top: 60px">
    <div class="row">
        <table style="margin:3px">
            <tr>
                <td style="padding-right:10px"></td>
                <td><button onclick="buttonback()" class="btn btn-primary active" type="submit">Back</button></td>
                <td style="padding-right:10px"></td>
                <td><button onclick="buttonAutoRefresh()" class="btn btn-default" type="submit">Refresh Page</button></td>
                <td style="padding-right:10px"></td>
                <td style="padding:4px">Area Radius (km):</td>
                <td>@Html.DropDownList("RadiusSelList", @ViewBag.RadiusSelList as SelectList, new { @class = "form-control" })</td>
            </tr>
        </table>
        </div>
        <div class="row">
            <div id="map_div"></div>
            <div id="GreenTextDiv" style="color: green; position: absolute;display:none">
                <h1>Update is On</h1>
            </div>
            <div id="RedTextDiv" style="color: red; position: absolute; display: none;">
                <blink><h1><b>Update is Off. Refresh the page.</b></h1></blink>
            </div>
        </div>
</body>
</html>