@*@model IEnumerable<MVC_Acft_Track.Models.vFlightAcftPilot>*@
@model MVC_Acft_Track.ViewModels.vmSearchRequestFights

@{ bool ifChecked = ViewBag.DisplayChBoxChecked ?? false;
    Html.Hidden("!! viewname !!", "FlightsPublicByCriteria");
}
<div>
@{
    var grid = new WebGrid(
        Model.flightList,
        defaultSort: "FlightID",
        rowsPerPage: Model.rowsPerPage,
        canSort: true,
        canPage: true
        );
    grid.SortColumn = Model.sortCol;
    grid.SortDirection = Model.sortDir;
}
@if (ViewBag.error != null)
{
    <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">@ViewBag.error</a>
    </div>
}

    @if (Model.vmsearchRequest.acftNumLocal != null){
        <p><span class="badge"> Aircraft @Model.vmsearchRequest.acftNumLocal</span></p>
    }
    To view a flight on Google Maps check [Select] checkbox and click <div class="code_ms"> Display on Map</div> button.
    @if (Model.vmsearchRequest.acftNumLocal == null) {
        using (Html.BeginForm())
        {
        @*<input type="submit" class="btn btn-default" name="submit" value="Display On Map" />*@
        <button type="submit" name="buttonClicked" value="DisplayOnMap">Display On Map</button><br>
        <p class="message-error"> @ViewBag.Message</p>
        @grid.GetHtml(
                mode: WebGridPagerModes.All,
                tableStyle: "webgrid",
                headerStyle: "webgrid-header",
                footerStyle: "table-pager",
        columns: grid.Columns(
        grid.Column(columnName: "FlightID", header: "Select", format: (item) => Html.CheckBox((string)item.FlightID.ToString(), ifChecked)),
        grid.Column(columnName: "RouteID", header: "Route ID"),
        grid.Column(columnName: "FlightID", header: "Flight ID", style: "text-align-left", format: (item) => Html.ActionLink((string)item.FlightID.ToString(), "DisplayFlightData", "Flight", new { id = item.FlightID, actionBack = "GetLatestRoutes" }, null)),
        grid.Column(columnName: "FlightName", header: "Flight/Arpt", style: "text-align-left"),
        grid.Column(columnName: "FlightTimeStart", header: "Start Time Local", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
        grid.Column(columnName: "Pilot", header: "Pilot", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Aircraft", style: "text-align-left", format: item => item.URLPictures == null ? item.Acft : Html.Raw("<a href=\"" + item.URLPictures + "\">  <span class=\"label label-primary\">" + item.Acft + "</span></a>")),
        grid.Column(columnName: "AcftNum", header: "Acft Num", style: "text-align-left", format: item => item.AcftRegNum.Contains("Not") ? item.AcftNumLocal : Html.Raw("<a href=\"http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt=" + item.AcftRegNum + "\">" + item.AcftRegNum + "</a>"))
        ))
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            //<input type="hidden" name="areaId" value="@ViewBag.Caller" />
        <button type="submit" name="buttonClicked" value="DisplayOnMap">Display On Map</button><br>
        <p class="message-error"> @ViewBag.Message</p>
        @grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "FlightID", header: "Select", format: (item) => Html.CheckBox((string)item.FlightID.ToString(), ifChecked)),
        grid.Column(columnName: "RouteID", header: "Route ID"),
        grid.Column(columnName: "FlightID", header: "Flight ID", style: "text-align-left", format: (item) => Html.ActionLink((string)item.FlightID.ToString(), "DisplayFlightData", "Flight", new { id = item.FlightID, actionBack = "GetLatestRoutes" }, null)),
        grid.Column(columnName: "FlightName", header: "Flight/Arpt", style: "text-align-left"),
        grid.Column(columnName: "FlightTimeStart", header: "Start Time Local", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
        grid.Column(columnName: "Pilot", header: "Pilot", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Aircraft", style: "text-align-left", format: item => item.URLPictures == null? item.Acft : Html.Raw("<a href=\""+item.URLPictures+ "\">  <span class=\"label label-primary\">"+item.Acft+"</span></a>"))
        //grid.Column(columnName: "AcftNum", header: "Acft Num", style: "text-align-left", format: item => item.AcftRegNum.Contains("Not") ? item.AcftNumLocal : Html.Raw("<a href=\"http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt=" + item.AcftRegNum + "\">" + item.AcftRegNum + "</a>"))
        ))
    }    
    }   

</div>
