@model IEnumerable<FontNameSpace.Models.vFlightAcftPilot>

@{ bool ifChecked = ViewBag.DisplayChBoxChecked ?? false;
    //var v = ViewBag.Acft;
    }
@*<div>
            @if (ViewBag.ActionBack == "Index") {@Html.ActionLink("[__Up__]", "Index", "Home")}
        @if (ViewBag.ActionBack == "GetLatestRoutes") {@Html.ActionLink("[__Up__]", "GetLatestRoutes", "PublicFlights")}
            @if (ViewBag.ActionBack == "SearchByCriteria") {@Html.ActionLink("[__Up__]", "SearchByCriteria", "PublicFlights")}
    </div>*@
<h2>@ViewBag.ViewTitle</h2>

<div>
    @{
        var grid = new WebGrid(Model, defaultSort: "FlightID", rowsPerPage: 50);
        grid.SortDirection = SortDirection.Descending;
    }

    @if (ViewBag.AcftNumLocal != null) { <p><span class="badge"> Aircraft @ViewBag.AcftNumLocal</span>
@*     <a href="https://photos.app.goo.gl/x8rHc25mEUMbvEHg1">  <span class="label label-primary">pictures</span></a> .*@</p>
    }
    To view a flight on Google Maps check [Select] checkbox and click <div class="code_ms"> Display on Map</div> button.
    @if (ViewBag.AcftNumLocal == null) {
        using (Html.BeginForm())
        {
            //<input type="hidden" name="areaId" value="@ViewBag.Caller" />
        <input type="submit" class="btn btn-default" name="submit" value="Display On Map" />
        <p class="message-error"> @ViewBag.Message</p>
        @grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "FlightID", header: "Select", format: (item) => Html.CheckBox((string)item.FlightID.ToString(), ifChecked)),
        grid.Column(columnName: "RouteID", header: "Route ID"),
        grid.Column(columnName: "FlightID", header: "Flight ID", style: "text-align-left", format: (item) => Html.ActionLink((string)item.FlightID.ToString(), "DisplayFlightData", "Flight", new { id = item.FlightID, actionBack = "GetLatestRoutes" }, null)),
        grid.Column(columnName: "FlightName", header: "Flight/Arpt", style: "text-align-left"),
        grid.Column(columnName: "FlightTimeStart", header: "Start Time Local", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
        grid.Column(columnName: "Pilot", header: "Pilot", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Aircraft", style: "text-align-left"),
        grid.Column(columnName: "AcftNum", header: "Acft Num", style: "text-align-left", format: item => item.AcftRegNum.Contains("Not") ? item.AcftNumLocal : Html.Raw("<a href=\"http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt=" + item.AcftRegNum + "\">" + item.AcftRegNum + "</a>"))
        ))
    }
    } 
    else {
    using (Html.BeginForm())
    {
        //<input type="hidden" name="areaId" value="@ViewBag.Caller" />
        <input type="submit" class="btn btn-default" name="submit" value="Display On Map" />
        <p class="message-error"> @ViewBag.Message</p>
        @grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "FlightID", header: "Select", format: (item) => Html.CheckBox((string)item.FlightID.ToString(), ifChecked)),
        grid.Column(columnName: "RouteID", header: "Route ID"),
        grid.Column(columnName: "FlightID", header: "Flight ID", style: "text-align-left", format: (item) => Html.ActionLink((string)item.FlightID.ToString(), "DisplayFlightData", "Flight", new { id = item.FlightID, actionBack = "GetLatestRoutes" }, null)),
        grid.Column(columnName: "FlightName", header: "Flight/Arpt", style: "text-align-left"),
        grid.Column(columnName: "FlightTimeStart", header: "Start Time Local", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
        grid.Column(columnName: "Pilot", header: "Pilot", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Aircraft", style: "text-align-left", format: item => item.URLPictures == null? item.Acft : Html.Raw("<a href=\""+item.URLPictures+"\">  <span class=\"label label-primary\">pictures</span></a>"))
        //grid.Column(columnName: "AcftNum", header: "Acft Num", style: "text-align-left", format: item => item.AcftRegNum.Contains("Not") ? item.AcftNumLocal : Html.Raw("<a href=\"http://registry.faa.gov/aircraftinquiry/NNum_Results.aspx?NNumbertxt=" + item.AcftRegNum + "\">" + item.AcftRegNum + "</a>"))
        ))
    }    
    }   
    }


</div>
