@model MVC_Acft_Track.Models.Flight

@{
    ViewBag.Title = "Edit";
}

<div>
    @Html.ActionLink("[_Back_]", "Index")
</div>
<br>
<h2>
    Flight:  @Html.DisplayFor(model => model.FlightID)</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.FlightID)

            <div class="row">
                <div class="col-md-4">
                    <div class="table-responsive">
                        <table class="table table-striped table-condensed">
                            <colgroup> <col class="col-md-2"> <col class="col-md-3"> </colgroup>
                            @*<thead> <tr> <th class="info">Class</th> <th class="info">Description</th> </tr> </thead>*@
                            <tbody>
                                <tr> <th scope="row"> Flight/Arpt </th> <td>@Html.EditorFor(model => model.FlightName)</td></tr>
                                <tr> <th scope="row"> Comments </th> <td>@Html.EditorFor(model => model.Comments)</td> </tr>
                                <tr> <th scope="row"> Aircraft </th> <td>@Html.DropDownList("AircraftsSelList") </td> </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <p>
                <input type="submit" class="btn btn-default" value="Save Changes" />
            </p>

        }


        @*@using (Html.BeginForm()) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    <legend>Flight</legend>

                    @Html.HiddenFor(model => model.FlightID)

                    <div class="display-label h3">
                         @Html.DisplayNameFor(model => model.FlightID)
                    </div>
                    <div class="display-field h3">
                        @Html.DisplayFor(model => model.FlightID)
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Flight</legend>
                    @Html.HiddenFor(model => model.FlightID)
                    <div class="editor-label">
                        @Html.LabelFor(model => model.FlightName)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FlightName)
                        @Html.ValidationMessageFor(model => model.FlightName)
                    </div>

                    <div class="editor-label">
                        @Html.LabelFor(model => model.Comments)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Comments)
                        @Html.ValidationMessageFor(model => model.Comments)
                    </div>

                    <p>
                        <input type="submit" value="Save" />
                    </p>
                </fieldset>
            }*@



        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
