@model MVC_Acft_Track.ViewModels.vmPilotLogBook

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width, initial-scale=0.5" />*@
    @Styles.Render("~/Content/css")
    <title>PilotLogBookMobile</title>

</head>
<body>

<h2>My Pilot LogBook</h2>
   

@{
    var grid = new WebGrid(Model.flightsLogBook, defaultSort: "RouteID", canPage: true, rowsPerPage: 20);
    grid.SortDirection = SortDirection.Descending;
}



@using (Html.BeginForm(null, null, FormMethod.Post, new { @id ="FrmId"}))
{
    <i>
        To update totals, change the forwarded values and click [Update] button.
    </i><br>
    @Html.Label("Time Forwarded (hr) :", new { @style = "display:inline-block" })
    @Html.EditorFor(model => model.timeForward, new { htmlAttributes = new { @class = "editboxwith" } })
    @Html.Label("Landings Forwarded :", new { @style = "display:inline-block" })
    @Html.EditorFor(model => model.landForward, new { htmlAttributes = new { @class = "editboxwith" } })

    //<input type="submit" onclick="buttonRefresh()" name="submit" value="Update" />
    <input type="submit"  name="submit" value="Update" />
    @*<button onclick="buttonRefresh()" class="button" type="submit">Refresh Page</button>*@
    <div>
        @Html.Label("Logbook Time (hr):", new { @style = "display:inline-block" })
        <div style="display:inline-block">@ViewBag.LogBookTimeHours ;</div>
        @Html.Label("Logbook Landings:", new { @style = "display:inline-block" })
        <div style="display:inline-block">@ViewBag.LandNumLogBook ;</div>

        <br>
        @Html.Label("Total Time To Date (hr):", new { @style = "display:inline-block" })
        <div style="display:inline-block">@ViewBag.TotalTimeHours  ;</div>
        @Html.Label("Total Landings To Date:", new { @style = "display:inline-block" })
        <div style="display:inline-block">@ViewBag.LandNumTotal  ;</div>

        <input type="hidden" id="pilotid" name="pilotid" value="@Model.pilotId" />
    </div>
}

@grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
    columns: grid.Columns(
    grid.Column(columnName: "FlightDateOnly", header: "Date", style: "text-align-left"),
    grid.Column(columnName: "AcftMMS", header: "Acft MMS", style: "text-align-left"),
    grid.Column(columnName: "Acft", header: "Acft", style: "text-align-left"),
    grid.Column(columnName: "RouteName", header: "Airports", style: "text-align-left"),
    grid.Column(columnName: "NoLandings", header: "Landings", style: "text-align-left"),
    grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left"),
    grid.Column(columnName: "Comments", header: "Comments", style: "text-align-left")

))

    <script>
    //document.getElementById("FrmId").onsubmit = function () { buttonRefresh() }
    function buttonRefresh() {
        console.log("zzzzzzzzzzzz_1");

        //document.getElementById("FrmId").submit();
        console.log("zzzzzzzzzzzz_2");
        @*var urlAction = '@Url.Action("DisplayMyFlightMovingMap", new { id = FlightId,FlightOrRoute=@FlightOrRoute})';
        window.location.assign(urlAction)*@;
        /// this function calling a method on Android client application
        //Android.reloadMobileLogBook();
        console.log("zzzzzzzzzzzz_3");
    }
    </script>

</body>
</html>
