@model IEnumerable<MVC_Acft_Track.Models.Flight>

@{
    ViewBag.Title = "AircraftSearchGrid";
}

<div>
    @Html.ActionLink("[ Back ]", "Index","Home")
</div>

<h2>Aircraft</h2>
    <table class= "tablegrid">
      <tr>
        <td class="table-first-col"> N Number </td>
        <td>@ViewBag.AcftNum</td>
      </tr>
      <tr>
        <td class="table-first-col"> MMS</td>
        <td>@ViewBag.AcftNum+ @ViewBag.AcftNum+@ViewBag.AcftNum</td>
      </tr>
  </table>
<p><i>The list includes the shared flights only</i></p>
@{

    var grid = new WebGrid(Model, defaultSort: "FlightDate",rowsPerPage: 50);
}
@grid.GetHtml(tableStyle: "webgrid",headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
     columns:  grid.Columns(
     grid.Column(columnName: "FlightID",header: "Flight ID",style: "text-align-left",format: (item) => Html.ActionLink((string) item.FlightID.ToString(), "DisplayFlightData", new { id = item.FlightID }) ),
        grid.Column(columnName: "FlightName",header: "Flight Name",style: "text-align-left"),
        grid.Column(columnName: "FlightDate",header: "Date UTC",style: "text-align-left",format: (item) => item.FlightDateUTC.ToString("d",(new System.Globalization.CultureInfo("ja-JP")).DateTimeFormat)),
        grid.Column(columnName: "FlightDate",header: "Start Time UTC",style: "text-align-left",format: (item) => item.FlightDateUTC.ToString("t",(new System.Globalization.CultureInfo("hr-HR")).DateTimeFormat)),
        grid.Column(columnName: "Points",header: "Total WayPoints",style: "text-align-left")
        //grid.Column(columnName: "FlightTimeStart",header: "Start Time",style: "text-align-left"),
   
 ))
