
@{  @*Layout = null;*@
    var FlightId = ViewBag.FlightId;
    var FlightOrRoute = ViewBag.FlightOrRoute;
    var isAutoUpdate = ViewBag.isAutoUpdate;
    var buttonText = isAutoUpdate == 1 ? "Stop Auto Refresh" : "Start Auto Refresh";
    var INTERVAL = isAutoUpdate == 1 ? 5000 : 5000000;
    var imgstartpoint = Url.Content("~/Images/1484079763_green-pin.png");
    var imgendpoint = Url.Content("~/Images/1484079792_orange-pin.png");
    var imgtracepoint = Url.Content("~/Images/1484009648_circle_blue.png");
    var imgintermpoint = Url.Content("~/Images/1484298852_blue-pin.png");
    //var cnt = 0;
}

<!DOCTYPE html>
<html>
<head>
    <title>Flight Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAIm-QyYK0jc3jyTMA6rgCTnx-9nWILiiQ"></script>
    <script src="~/Scripts/getDrawOneFlight.js"></script>
 @*   <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />*@
@*    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />*@
  @*  <link href="~/Content/googlemap.css" rel="stylesheet" type="text/css" />*@

    <script>

    var routeSelect;
    var messages;
    var map;
    var intervalID;
    var newInterval;
    var currentInterval;
    var iconUrl;
    var mapOptions;
    var cookieName = "fontZoomLevel=";
    var defaultZoomLevel = 13;
    var markersStore = [];
    var infowindowStore = [];
    var flightPathStore = [];
    var isRefresh = true;
    var cnt =0;
    var defaultCenter;
    var centerOnDefault = false;
    var currentCenter;
    var REQUEST_COUNT = 60;
    var greenControl;
    var redControl;
    //---------------------------------------------------------------
    function init() {


        // set the map center dd zoom cookie
        var zoomLevel = (getCookie(cookieName) == '' ? defaultZoomLevel : parseInt(getCookie(cookieName)));
        mapOptions = {
            zoom: zoomLevel,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        map = new google.maps.Map(document.getElementById('map_div'), mapOptions);
        google.maps.event.addListener(map, 'zoom_changed', function () {
        var zooooom = map.getZoom();
        document.cookie = cookieName + zooooom;
    });
    getMarkers();

    @*greenControl = document.getElementById('GreenTextDiv');
    redControl = document.getElementById('RedTextDiv');
    redControl.style.display = @isAutoUpdate==0 ?'inline':'none';
    greenControl.style.display = @isAutoUpdate==1 ?'inline':'none';*@
        if(@isAutoUpdate==1) map.controls[google.maps.ControlPosition.TOP_CENTER].push(greenControl);
        else map.controls[google.maps.ControlPosition.TOP_CENTER].push(redControl);
    }

    //---------------------------------------------------------------
    function getMarkers() {
        var url = '@Html.Raw(@Url.Action("GetFlightDataJson", new { id = FlightId, idtype = @FlightOrRoute }))';
        //url changed every call to prevent caching
        var c = "&c="+cnt
        url+=c;
        $.ajax({
            url: url,
            type: 'GET',
            dataType: 'json',
        })
          .fail(function (xhr, status, errorThrown) {
            console.log("responseText: " + xhr.responseText);
            console.log("status: " + xhr.status);
            console.log("errorThrown: " + errorThrown);
        })
          .always(function (data) {
            //set marker infowindow polyline for multiple flights
            console.log(url);
            getDrawOneFlight(data,'@imgstartpoint','@imgendpoint','@imgtracepoint','@imgintermpoint');
            if (cnt < REQUEST_COUNT) {
                //setup next getMarkers call
                setTimeout(getMarkers, @INTERVAL);
                cnt++;
            }
            else {
                //greenControl.style.display = 'none';
                //redControl.style.display = 'inline';
                //map.controls[google.maps.ControlPosition.TOP_CENTER].push(redControl);
                var urlAction = '@Url.Action("DisplayMyFlightMovingMap", new { id = FlightId, FlightOrRoute = @FlightOrRoute })';
                window.location.assign(urlAction);
            }
        });
    }
    //---------------------------------------------------------------
    function getCookie(cname) {
        var cookieArray = document.cookie.split(';');
        if (cookieArray[0].indexOf(cname) == 0) return cookieArray[0].split('=')[1];
        return "";
    }
    //---------------------------------------------------------------
    @*function buttonback() {

        window.location.assign('@Url.Action(@ViewBag.backUrl, new { id = FlightId, actionBack = @ViewBag.linkUp })' );
    }*@
    function buttonAutoRefresh(el) {
        if (el.value=="1") {
            var urlAction = '@Html.Raw(@Url.Action("DisplayMyFlightMovingMap", new { id = FlightId, FlightOrRoute = @FlightOrRoute }))';
        }
        else {
            var urlAction = '@Html.Raw(@Url.Action("DisplayMyFlightMovingMap", new { id = FlightId, FlightOrRoute = @FlightOrRoute, isAutoUpdate = "1" }))';

        }
        window.location.assign(urlAction);
    }
    //function buttonRefresh() {
    //    location.reload();
    //}

    //---------------------------------------------------------------
    $(document).ready(function () {
        init();
    });
    </script>
</head>
<body>
@if (isAutoUpdate == 1)
{
    <div class="row">
        <div class="col-md-2">
@*            <div class="text-danger"><h4><b>Refresh is ON</b></h4></div>*@
            <button onclick="buttonAutoRefresh(this)" class="btn btn-success" type="submit" value="@isAutoUpdate">@buttonText</button>
        </div>
     </div>
}
else
{
    <div class="row">
        <div class="col-md-2">
            <button onclick="buttonAutoRefresh(this)" class="btn btn-default" type="submit" value="@isAutoUpdate">@buttonText</button>
        </div>
    </div>
}
<br>
<div id="map_div"></div>

</body>
</html>