@model FontNameSpace.ViewModels.vmPilotLogBook

@{
    Layout = null;
    //var menuitem = 3;
    var successFlg = ViewBag.successFlg;
    string msg = ViewBag.Msg;
    bool sortdirAsc = ViewBag.SortDir == "ASC";
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/webgrid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/custom.css" rel="stylesheet" type="text/css" />
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

</head>
<body>
    <div class="container">
        <div class="row">
            @{
                var grid = new WebGrid(Model.flightsLogBook, defaultSort: "RouteID", canPage: true, rowsPerPage: 20);
                grid.SortDirection = sortdirAsc ? SortDirection.Ascending : SortDirection.Descending;
            }

            @using (Html.BeginForm())
            {
                <div class="featured_ex navbar-fixed-top_ex">
                </div>
                    <div>
                        @Html.Label("My Total Time To Date (hr) :")
                        <div style="display:inline-block">@ViewBag.TotalTimeHours</div> <br>
                        @Html.Label("My Total Landings To Date   : ")
                        <div style="display:inline-block">@ViewBag.LandNumTotal</div>
                    </div>
                //}

                @grid.GetHtml(tableStyle: "webgrid", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
                     columns: grid.Columns(
                     grid.Column(columnName: "FlightDateOnly", header: "Date", style: "text-align-left", format: (item) => item.FlightDateOnly.ToString("MM/dd/yyyy")),
                     grid.Column(columnName: "AcftMMS", header: "Acft MMS", style: "text-align-left"),
                     grid.Column(columnName: "Acft", header: "Acft", style: "text-align-left"),
                     grid.Column(columnName: "RouteName", header: "Airports", style: "text-align-left"),
                     grid.Column(columnName: "NoLandings", header: "Landings", style: "text-align-left"),
                     grid.Column(columnName: "FlightDurationMin", header: "Duration(hr)", style: "text-align-left", format: (item) => (item.FlightDurationMin / 60.0f).ToString("F2")), //rec.FlightDurationMin / 60.0f
                     grid.Column(columnName: "Comments", header: "Comments", style: "text-align-left")
                       ))
            }

        </div>
    </div>
</body>
</html>