@model MVC_Acft_Track.Models.vAircraftPilot

@{
    ViewBag.Title = "AcftEdit";
    int pid = ViewBag.PilotId;
}

@*<p>@Html.ActionLink("[_Back_]", "Index")
</p>*@

<i>[FAA Reg Number] section is populated if the aircraft is found in the FAA registry.</i><br>
<i>Update your aircraft information and click [Save Changes] button.</i>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.AcftID)
    <input type="hidden" name="menuitem" value="2" />
    <input type="hidden" name="pilotid" value=@pid />

    <div class="row">
        <div class="col-md-4">
            <div class="table-responsive">
                <table class="table table-striped table-condensed">
                    <tbody>
                        <tr> <th scope="row">Aircraft</th> <td>@Html.EditorFor(model => model.AcftNumLocal)</td></tr>
                        <tr> <th scope="row">Name</th> <td>@Html.EditorFor(model => model.AcftName)</td> </tr>
                        <tr> <th scope="row">FAA Reg Number</th> <td>@Html.DisplayFor(model => model.AcftRegNum)</td> </tr>
                        <tr> <th scope="row">Make</th> <td>@Html.DisplayFor(model => model.AcftMake) </td> </tr>
                        <tr> <th scope="row">Model</th> <td>@Html.DisplayFor(model => model.AcftModel)</td> </tr>
                        <tr> <th scope="row">Serial Number</th> <td>@Html.DisplayFor(model => model.SerNum) </td> </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

        <p>
            @*<input type="submit" name="submit" value="Update from FAA Registry" />*@
            <input type="submit" class="btn btn-default" name="submit" value="Save Changes" />
            <input type="submit" class="btn btn-default" name="submit" value="Delete the Aircraft" />
        </p>
}

@section scripts{
    <script type="text/javascript">
        window.formChanged = false;
        $(document).ready(function(){
            $(':input').change(function () {
                //alert("form changed!")
                window.formChanged = true;
            });

            $('form').submit(function () {
                //alert("form submitted!")
                window.formChanged = false;
                window.onbeforeunload = null;
            });

        });

        $(window).bind('beforeunload', function () {
            if (window.formChanged == true) { alert('You have unsaved changes!'); return false; }
            //else return true;
        });

    </script>
}


