@*<p>
    @Html.ActionLink("[_Back_]", "Index", "Home")
</p>*@
@*<section class="featured">
    <div class="content-wrapper">
        <span class="label">@ViewBag.Message</span>
    </div>
</section>
<br>*@

<div id=col_container>
    <div class="col">
        <b>Flight On Track Screenshots and Video</b>
        <p>FONT is Android app that tracks aircraft position, velocity and altitude based on the information received from a pilot's smartphone in flight.
        The route can be accessed later and analyzed, shared or exported over <a href="http://flightontrack.com">FlightOnTrack.com</a> website.
        Check the @Html.ActionLink("[Screenshots]", "ScreenshotVideo", "Home")  and video for more information.</p>
        <div><span style="font-weight: bold;">Current Requirements:</span></div>
            <ul>
                <li>Android 4.1 or higher smartphone, with gps</li>
                <li>Data access over mobile network</li>
                <li>FONT<span style="font-weight: bold;"> </span> app installed on Android phone</li>
                <li>iPhone and Windows phone users please check the solution @Html.ActionLink("[here]", "HelpiPhoneUser", "Home")</li>
            </ul>
    </div>


<div class="col">
<span style="font-weight: bold;">Installation instructions:</span>
    <ul>
        <li>The application is currently in alpha testing phase. To learn how to download the app and become a beta tester, click the @Html.ActionLink("[Be a Tester]", "HelpBeTester", "Home") link.
    </ul>
</div>
<div class="col">
    <span style="font-weight: bold;">Tracking your route:</span>
    <ul>
        <li>Follow the @Html.ActionLink("[Instructions]", "HelpTracking", "Home") link.</li>
@*        <li>Check <a href="https://youtu.be/DDUWDE4yYFI"> the video.</a> </li>*@
    </ul>
</div>
<div class="col">
    <span style="font-weight: bold;">Using aircraft NFC tag: </span>
    <ul>
        <li>Check <a href="https://youtu.be/Xag26XzdFmo"> the video</a>.</li>
        <li>Obtaining the tag.</li>
    </ul>
</div>
<div class="col">
     <span style="font-weight: bold;">Reporting issues/bugs:</span>
     <ul>
        <li>To report issues use the @Html.ActionLink("[Contact]", "Contact", "Home") link</li>
     </ul>
</div>
<div class="col">
    <span style="font-weight: bold;">This website:</span>
    <ul>
        <li>@Html.ActionLink("[FAQ]", "HelpWebSite", "Home")</li>
    </ul>
</div>

</div>





