@{
    ViewBag.Title = "Home Page";
}
@*@section featured {
    <section class="text-center">
        Member Area
    </section>
}*@
<div class="row">
    <div class="col-sm-5">
        <fieldset>
            <legend>What is the FONT?</legend>
        </fieldset>
        <div class="col-sm-4" > <img src="~/Images/app_red.png" maxwith="10px" class="img-responsive" style="padding-right:10px" /><br></div>
        
                <ul class="text-justify" style="list-style-type:none">
                    <li><span style="font-weight: bold;">Flight On Track</span> (the <span style="font-weight: bold;">FONT</span>) is simple but fun application. Fly airplane , glider, trike or hot balloon with it.</li>
                    <li>FONT maintains a detailed history of a pilot's flights in cloud repository making it easy reviewing and sharing.</li>
                    <li>The FONT Android client is designed the way to avoid any destruction when the pilot is flying.</li>
                    <li>You do not need even to create account to start using it. The registration process is automated.</li>
                    <li>The records are owned by the pilot and can be easily accessed via a browser, reviewed, downloaded to a file or shared with other users. Other people can follow you in real time while you are up flying.</li>
                    <li>FONT doesn't add any weight to your aircraft. Just make memories of your flights and share excitement of flying with your friends and family. </li>
                    <li>FONT is free, no need to invest tons of money. All you need is the FONT app installed on your smartphone to start using it right away. More on FONT on @Html.ActionLink("[Help]", "Help", "Home") page.  </li>
                </ul>

            <fieldset>
                <legend>How does it work?</legend>
            </fieldset>
                <ul class="text-justify" style="list-style-type:none">
                    <li>
                        FONT is a near-real-time cloud-based system which tracks aircraft position, velocity and altitude based on the GPS signal received from a pilot's smartphone.
                        Your phone is a sophisticated computer that is always with you. It has an ID uniquely identifying the pilot and a GPS that tracks his flights.
                        The GPS has clear vision of all satellites in the sky, while the phone has unobscured access to ground mobile network. The app installed on a pilot's smartphone transmits information to a remote server when the pilot is flying.
                        A cloud website provides access to the data.
                    </li>
                </ul>
            <br>
            @*<fieldset>
                <legend>Recent public flights</legend>
                <ul>
                    <li>@Html.ActionLink("[View]", "GetLatestRoutes", "PublicFlights")  most recent flights.</li>
                    <li>@Html.ActionLink("[Search]", "SearchByCriteria", "PublicFlights")  flight history by criteria. </li>
                    <li>@Html.ActionLink("[View]", "SearchByArea", "PublicFlights") area active flights.</li>
                </ul>
            </fieldset>*@
        </div>
    <div class="col-sm-7">
        <fieldset>
            <legend> FONT Visual LogBook</legend>               
                <div class="row just_ex">
                    <div class="col-sm-10 just_ex">
                        FONT visualizes flight data in the form of Google Maps flight trajectories or 3D Google Earth kml files.<a href="http://www.tableau.com/"> Tableau</a> Software helps to make FONT LogBook visual. The visual logbook can be published and shared with friends or other pilots on Tableau Public clouds. @Html.ActionLink("Learn more", "HelpTableau", "Home").
                        <br>
                    </div>
                </div>
                <p></p>
        </fieldset>

            <div class="col-sm-10" id="vizContainer"  style="border: 5px groove #2ea27c; border-radius: 5px;">
            </div>

    </div>
    </div>

@section Scripts
{
    <script src="https://public.tableau.com/javascripts/api/tableau-2.1.2.js"></script>
    <script>
        function initializeViz() {

            var containerDiv = document.getElementById("vizContainer");
            var url = "https://public.tableau.com/views/VisualLogBook800x650r/Dashboard2?:embed=y&:display_count=no&:toolbar=no";
            var options = {
                width: "100%",
                //height: containerDiv.offsetWidth * 1,
                height:"100vh",
                minHeight: containerDiv.offsetWidth * 0.8,
                maxHeight: containerDiv.offsetWidth * 1.2,
                hideTabs: true,
                hideToolbar: true,
                onFirstInteractive: function () {
                    workbook = viz.getWorkbook();
                    activeSheet = workbook.getActiveSheet();
                }
            }
            viz = new tableau.Viz(containerDiv, url, options);
        }
        $(window).on("load", function () {
            // alert("Window is loaded");
            initializeViz();
        });
    </script>
}


