
@model MVC_Acft_Track.ViewModels.vmPilotLogBookCombined


<div class="row">
    <div class="col-md-5">
        <fieldset>
            <legend class="legend">Pilot</legend>
            <i>Update your pilot information clicking on Phone link.</i>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-condensed">
                    <colgroup> <col class="col-md-2"> <col class="col-md-3"> </colgroup>
                    @*<thead> <tr> <th class="info">Class</th> <th class="info">Description</th> </tr> </thead>*@
                    <tbody>
                        <tr> <th scope="row"> <code>Phone</code> </th> <td>@Html.ActionLink((string)@ViewBag.PilotCode.ToString(), "PilotEdit", new { id = @ViewBag.PilotID })</td></tr>
                        <tr> <th scope="row"> <code>Pilot Callsign</code> </th> <td>@ViewBag.PilotName</td> </tr>
                        <tr> <th scope="row"> <code>First Name</code> </th> <td>@ViewBag.NameFirst </td> </tr>
                        <tr> <th scope="row"> <code>Last Name</code> </th> <td>@ViewBag.NameLast</td> </tr>
                        <tr> <th scope="row"> <code>Base Airport Code</code> </th> <td>@ViewBag.BaseAirport</td> </tr>
                    </tbody>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend class="legend">My Aircrafts</legend>
            <i>Click on [Acft Num] to see the aircraft flights. Use [Edit] link to edit or delete the aircraft from your list.</i>
            @{
                var grid = new WebGrid(Model.aircrafts, defaultSort: "AcftID", canPage: true, rowsPerPage: 50);
            }
            @grid.GetHtml(tableStyle: "table-responsive  table-bordered table-striped table-condensed", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "AcftNumLocal", header: "Acft", style: "text-align-left", format: (item) => Html.ActionLink((string)item.AcftNumLocal, "FlightsByAcft", "Flight", new { acftId = item.AcftID }, null)),
        grid.Column(columnName: "AcftName", header: "Friendly Name", style: "text-align-left"),
        grid.Column(columnName: "AcftRegNum", header: "Reg Num", style: "text-align-left"),
        grid.Column(columnName: "FlightTime", header: "Hours Logged", style: "text-align-left"),
        grid.Column(columnName: "AcftID", header: "Edit", style: "text-align-left", format: (item) => Html.ActionLink("edit", "AcftEdit", new { id = item.ID }))
        ))
        </fieldset>
        <br>
        <fieldset>
            <legend class="legend">All My Flights</legend>
            <i>There are @ViewBag.PilotFlightNum.ToString() recorded flights in my history. To view all the history and detailed flight info click the button below.</i>
            <p><a class="btn btn-default" href="Flight/Index?pilotId=@ViewBag.PilotID">All my flight records &raquo;</a></p>
            @*@Html.ActionLink("[All My Flights]", "Index", "Flight")  there are @ViewBag.PilotFlightNum.ToString() recorded flights in my history.*@
        </fieldset>
    </div>
    <div class="col-md-7">
        <fieldset>
        <legend class="legend_x">My Pilot LogBook</legend>
        <i>To view and download all logbook records or to generate a visual logbook click the button below.</i>
        <p><a class="btn btn-default" href="Flight/PilotLogBook?pilotId=@ViewBag.PilotID">All logbook records &raquo;</a></p>
        @{
            var gridLB = new WebGrid(Model.flightsLogBook, defaultSort: "RouteID", canPage: true, rowsPerPage: 20);
            gridLB.SortDirection = SortDirection.Descending;
        }
        @using (Html.BeginForm())
            {
        <div>
            @Html.Label("Total Time To Date (hr):", new { @style = "display:inline-block" })
            <div style="display:inline-block">@ViewBag.TotalTimeHours  ;</div>
            @Html.Label("Total Landings To Date:", new { @style = "display:inline-block" })
            <div style="display:inline-block">@ViewBag.LandNumTotal  ;</div>

            <input type="hidden" id="pilotid" name="pilotid" value="@Model.pilotId" />
        </div>

        @gridLB.GetHtml(tableStyle: "table-responsive  table-bordered table-striped table-condensed", headerStyle: "webgrid-header", //rowStyle: "webgrid-row-style",
        columns: grid.Columns(
        grid.Column(columnName: "FlightDateOnly", header: "Date", style: "text-align-left"),
        grid.Column(columnName: "AcftMMS", header: "Acft MMS", style: "text-align-left"),
        grid.Column(columnName: "Acft", header: "Acft", style: "text-align-left"),
        grid.Column(columnName: "RouteName", header: "Airports", style: "text-align-left"),
        grid.Column(columnName: "NoLandings", header: "Landings", style: "text-align-left"),
        grid.Column(columnName: "FlightDurationMin", header: "Minutes", style: "text-align-left")
        //grid.Column(columnName: "Comments", header: "Comments", style: "text-align-left")
        ))
    }
    </fieldset>
    </div>
</div>
@Html.ActionLink("memeber", "index_member1", "Home")
<div class="validation-summary-errors">@ViewBag.NotFoundMessage  </div>



