@model MVC_Acft_Track.Models.Pilot
@{
    string  msg = ViewBag.Msg;
    var menuitem = 1;
    var pilotid = Model.PilotID;
}

<div class="row">
    @Html.Partial("_MemberMenu",new {menuitem=menuitem,pilotid = pilotid})
        <div class="col-sm-5 col-sm-offset-1">
            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken();
            <input type="hidden" name="menuitem" value="1" />
            <input type="hidden" name="pilotid" value=@pilotid />

            <table class="table-responsive">
                <colgroup> <col class="col-sm-4"> <col class="col-sm-2"> </colgroup>
                <tbody>
                    <tr> <th scope="row"> <code>Phone</code> </th> <td>@Html.DisplayFor(model => model.PilotCode)</td> </tr>
                    <tr> <th scope="row"> <code>Callsign</code> </th> <td>@Html.DisplayFor(model => model.PilotName)</td> </tr>
                    <tr> <th scope="row"> <code>Last Name</code> </th> <td>@Html.EditorFor(model => model.NameLast)</td> </tr>
                    <tr> <th scope="row"> <code>First Name</code> </th> <td>@Html.EditorFor(model => model.NameFirst)</td> </tr>
                    <tr> <th scope="row"> <code>Base Airport Code</code> </th> <td>@Html.EditorFor(model => model.BaseAirport)</td> </tr>
                </tbody>
            </table>
            @*</div>*@
            <br>
            <p>
                    <i> Update your pilot information if needed and click [Save Changes] button.<br>
                    To modify pilot's Callsign change it on your FONT app.</i>
            </p>
                    <input type="submit" class="btn btn-default active" value="Save Changes" />
                <br>
                    <i>@if(msg!=null) {@msg}</i>

        }
        </div>
</div>
<div class="validation-summary-errors">@ViewBag.NotFoundMessage  </div>



